body {
    /* background-color: red; */
    
}

/* Backgrounds */
.bgColor1 {
    background-color: #6D7993;
}

.bgColor2 {
    background-image: url('../img/dark-triangles.png');
    background-attachment: fixed;
}

/* Buttons colors */
.dusty {
    background-color:  #96858F;
    border-color: #96858F;
    box-shadow: 1px 1px 3px rgb(150, 137, 145);
}

.dusty:hover { 
    background-color: rgb(255, 233, 184);
    border-color: rgb(255, 233, 184);
    box-shadow: 1px 1px 3px rgb(255, 233, 184);
    color: rgb(136, 117, 128)
    /* background-color: rgb(136, 117, 128); */
    /* border-color: #96858F; */
    /* box-shadow: 1px 1px 3px rgb(150, 137, 145); */
}

.dusty:active .dusty:visited .dusy:focus {
    background-color: rgb(136, 117, 128);
    border-color: #96858F;
    box-shadow: 1px 1px 3px rgb(150, 137, 145);
}

/* .temp {
    border: 1px solid black;
    border-radius: 10px;
    height: 100px;
} */

.padding {
    padding: 70px 0;
}

.section {
    /* padding: 100px 0; */
    color: #D5D5D5;
    font-size: 1.04em;
}

/* Jumbotron */
.jumbotron {
    min-height: 500px;
    margin-bottom: 0;
}

.jumbotron .container {
    padding: 20px  40px 50px 40px;
    border-radius: 50px;
    margin-bottom:100px;
    position: relative;
    overflow: hidden;
    min-height: 350px;
    /* color: rgb(136, 117, 128); */
    color: rgb(255, 233, 184);
    text-shadow: 0 0 2px #D5D5D5;
}

.jumbotron .container::before {
    content: ' ';
    display: block;
    background-image: url('../img/music1.png');
    background-size: cover;
    filter: blur(1px) sepia(100%);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.2;
    border-radius: 50% 50% 30% 30%;
    -webkit-box-shadow: 0px 0px 100px #d6b1b130;
            box-shadow: 0px 0px 100px #d6b1b130;
}

/* Activities */
/* #activities {
    /* background-color: #9099A2; */
    /* background-color: #6D7993; */

/* } */
/* #activities h2 {
    color: #D5D5D5;
} */

/* Extended Info */
.hidden {
    display: none;
    height: 0;
}

.show {
    padding: 30px 50px;
    color: #D5D5D5;
    font-size: 1.04em;
}

/* Bio */

#bio {
    position: relative;
}

#bio::before {
    content: '';
    position: absolute;
    display: block;
    top: 6%;
    left: 10%;
    height: 88%;
    width: 80%;
    box-shadow: 0 0 500px 10px #d6b1b130;
    border-radius: 50% 50% 40% 40%;
}

@media only screen and (min-width: 768px) {
    #bio::before {
        left: 5%;
        width: 90%;
    }
}

/* Portfolio */
.textBG {
    background-color: rgba(255,255,255,0.25);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(255,255,255,0.5);
    margin: 0 50px;
}

@media only screen and (min-width: 768px) {
    .textBG {
        margin: 0;
    }
}

/* Form */
/* Code from https://developer.mozilla.org/en-US/docs/Learn/HTML/Forms/Form_validation */
input[type=text],
input[type=email],
textarea,
fieldset {
/* required to properly style form elements on WebKit based browsers */
  -webkit-appearance: none;
  
  width : 100%;
  border: 1px solid #6D7993;
  margin: 0;
  
  font-family: inherit;
  font-size: 90%;
  
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input:invalid {
  box-shadow: 0 0 5px 1px red;
}

input:focus:invalid {
  outline: none;
}
/* End code from https://developer.mozilla.org/en-US/docs/Learn/HTML/Forms/Form_validation */

.error {
    color: #ffb68e;;
}

#btn-submit {
    width: 50%;
    /* color: #D5D5D5; */
    font-size: 1.2em;
}

/* Footer */
#footer {
    min-height: 150px;
    background-color: #0E0E10;
    /* color: rgb(225, 249, 252); */
    color: #D5D5D5;
    /* text-align: center; */
    /* padding-bottom: 200px; */
    position: relative;
}

#footer::before {
    content: '';
    position: absolute;
    top: 6%;
    left: 5%;
    height: 88%;
    width: 90%;
    box-shadow: 0 0 500px 10px #d6b1b130;
    border-radius: 50% 50% 5% 5%;
}

