/Not used images/*
/javascript_testing
/working_files
settings.json
/assets/*

.env
/api/.env
api/.venv/

__pycache__/
*.pyc

media/video/*
media/audio/*
media/waveform/*

!media/audio/
!media/audio/.gitkeep
!media/waveform/
!media/waveform/.gitkeep
!media/video/
!media/video/.gitkeep

/tools/input_audio/*

!tools/output_audio/
!/tools/input_audio/.gitkeep