<!DOCTYPE html>
<html lang="en" ng-app="app" ng-cloak>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Anthony Bonello | Independent music professional | Add Music</title>
    <link rel="shortcut icon" type="image/png" href="img/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Roboto:400,400i,700" rel="stylesheet">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <style>
        .partsDisplay {
            list-style: none;
        }
        .partId {
            width: 30px;
        }
        .partName {
            width: 150px;
        }
    </style>
</head>

<body>
    <!-- Responsive Navigation -->
    <nav class="navbar-fixed-top navbar-inverse">
        <div class="container">
            <div class="navbar-brand">
                <a class="scroll" href="#home" id="home1">Anthony Bonello</a>
            </div>
            <a class="navDownloadBtn hideDownloadBtn" href="music_download.html" id="downloadBtnID"><i
                    class="fa fa-download" aria-hidden="true"></i><span class="btnTextHide"> Download</span></a>
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse" id="btn-menu"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
            </button>
            <div class="collapse navbar-collapse navHeaderCollapse" id="navbarResponsive">
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item active"><a class="nav-link scroll" href="#home" id="home2">Home</a></li>
                    <li class="nav-item"><a class="nav-link scroll" href="#activities" id="activitiesNav">Activities</a>
                    </li>
                    <li class="nav-item"><a class="nav-link scroll" href="#bio" id="bioNav">About Me</a></li>
                    <li class="nav-item"><a class="nav-link scroll" href="#portfolio" id="portfolioNav">Portfolio</a>
                    </li>
                    <li class="nav-item"><a class="nav-link scroll" href="#contact" id="contactNav">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Jumbotron -->
    <header class="jumbotron bgColor2" id="home">
        <div class="container parallax-child">
            <h1>Anthony Bonello</h1>
            <h2>Independent Music Professional</h2>
        </div>
        <a class="downloadBtn" href="music_download.html" id="">Download Music</a>
    </header>

    <!-- Activities -->
    <section class="section bgColor1 padding textColor1" id="activities">
        <div class="container"  ng-controller="ctrl">
            <!-- Nested accordion panels -->
            <div ng-repeat="composer in data track by $index">
                <div class="panel panel-default">
                    <!-- Composer panel heading -->
                    <div class="panel-heading">
                        <h4 class="panel-title accordion-toggle" data-target="#panel{{ $index }}" data-toggle="collapse">Composer: {{ composer.composer }}</h4><i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                    </div> <!-- End composer heading-->
                    <!-- Composer panel content -->
                    <div id="panel{{ $index }}" class="panel-collapse collapse">
                        <div class="panel-body panel-size">
                            <div ng-repeat="piece in composer.pieces">
                                <div class="panel panel-default">
                                    <!-- Piece panel heading -->
                                    <div class="panel-heading">
                                        <h4 class="panel-title accordion-toggle" data-target="#panel{{ composer.id }}{{ piece.id }}" data-toggle="collapse">Piece: {{ piece.name }}</h4><i
                                            class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                                    </div> <!-- End Piece heading-->  
                                    <!-- Piece panel content -->
                                    <div id="panel{{ composer.id }}{{ piece.id }}" class="panel-collapse collapse">
                                        <div class="panel-body panel-size">
                                            <ul class="partsDisplay">
                                                <li ng-repeat="part in piece.parts">
                                                    <table>
                                                        <tr>
                                                            <td class="partId">
                                                                {{ part.id }}
                                                            </td>
                                                            <td class="partName">{{ part.part }}</td>
                                                            <td>{{ part.fileName }}</td>
                                                        </tr>
                                                    </table>
                                                </li>
                                            </ul>
                                            Add a part to this piece
                                        </div>
                                    </div> <!-- End piece content -->
                                </div>
                            </div>
                            <p>
                                Add a piece to this composer
                            </p>
                        </div>
                    </div>
                </div>
            </div> <!-- End composer ng-repeat -->

            Here need to add mechanism to add new piece/parts and composer if necessary.
        </div> <!-- End ng-controller -->
    </section>

    <!-- Bio -->
    <!-- <section class="section bgColor2 padding textColor2 clearfix" id="bio">
        <div class="container">
            
        </div>
    </section> -->

    <!-- Portfolio -->
    <!-- <section class="bgColor1 padding textColor1" id="portfolio">
        <div class="container">

        </div>
    </section> -->

    <!-- Quotes -->
    <!-- <section class="section bgColor2 padding textColor2 clearfix" id="quote">
        <div class="container">
            
        </div>
    </section> -->

    <!-- Contact Form -->
    <!-- <section class="section bgColor1 padding textColor1" id="contact">
        <div class="container">
            
        </div>
    </section> -->

    <!-- Footer -->
    <footer class="bgColor2 padding textColor2" id="footer">
        <div class="container">
            <hr>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <a class="scroll" href="#home" id="home3">Back to top</a>
                </div>
            </div>

            <div class="row">
                <section class="col-sm-6 text-left">
                    <p>&copy; 2017 - <span class="year"></span>, Anthony Bonello. <br>This page was created and coded by
                        Anthony Bonello, 2017 - 2018.<br>
                        My portfolio as a web developer can be found at <a href="http://www.splendensmedia.co.uk"
                            target="_blank">Splendens Media</a>.</p>

                    <script> var span = document.getElementsByClassName("year");
                        span[0].innerText = (new Date).getFullYear();</script>
                </section>
                <section class="col-sm-6 text-center">
                    <a href="http://github.com/abonello/project-1" target="_blank"><i class="fa fa-github"></i>This
                        project is on GitHub</a><br>
                    <a href="https://www.linkedin.com/in/anthonybonello/" target="_blank"><i
                            class="fa fa-linkedin"></i>My LinkedIn</a>
                </section>
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
    <script src="js/script.js"></script>
    <script src="js/add_music_angularjs_script.js"></script>
    <script src="https://cdn.emailjs.com/dist/email.min.js"></script>
</body>

</html>